<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="header :: assets"></th:block>
    <title>EMS | Create Record</title>
    <script type="text/javascript" src="/js/record_create.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="index :: header"></div>
    <form id="create-record">
        <table>
            <tr>
                <td>Name:</td>
                <td><label>
                    <input type="text" id="name"/>
                </label></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><label>
                    <input type="email" id="email"/>
                </label></td>
            </tr>
            <tr>
                <td>Designation:</td>
                <td><label>
                    <select id="designation"></select>
                </label></td>
            </tr>
            <tr>
                <td>Contact:</td>
                <td><label>
                    <input type="tel" id="contact"/>
                </label></td>
            </tr>
        </table>
        <button id="submit" type="submit">Create</button>
    </form>
</div>
</body>
</html>