<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript"
            src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/record_create.js"></script>
</head>
<body>
<div class="container">
    <form id="create-record">
        <table>
            <tr>
                <td>Name:</td>
                <td><label>
                    <input type="text" id="name"/>
                </label></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><label>
                    <input type="email" id="email"/>
                </label></td>
            </tr>
            <tr>
                <td>Designation:</td>
                <td><label>
                    <select id="designation"></select>
                </label></td>
            </tr>
            <tr>
                <td>Contact:</td>
                <td><label>
                    <input type="tel" id="contact"/>
                </label></td>
            </tr>
        </table>
        <button id="submit" type="submit">Create</button>
    </form>
</div>
</body>
</html>